*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  .student_grades{
    padding: 1rem;
    input{
      padding: 1rem;
      width: 30vw;
      border-radius: 0.4rem;
      border: 1px solid #333;
    }
    button{
      padding: 1rem;
      margin: 0px 5rem;
      width: 10vw;
      background-color: rgb(226, 165, 86);
      border-radius: 0.4rem;
      border: 1px solid antiquewhite;
    }
  }
  .table{
    padding: 1rem;
  }
  table,tr,th,td{
    width: 40vw;
    border: 1px solid rgb(226, 165, 86);
    border-collapse: collapse;
    padding: 1rem;
  }
  .student_grades p{
    // margin-top: 2rem;
    padding: 1rem 3rem;
  }
  .student_grades a{
    // margin:5rem;
    margin-top: 2rem;
    text-decoration: none;
    margin: 0px 2rem;
  }
  .btn{
    padding: 1rem;
      margin: 0px 1rem;
      width: 8vw;
      background-color: rgb(226, 165, 86);
      border-radius: 0.4rem;
      border: 1px solid antiquewhite;
  }
  h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px rgb(226, 165, 86); 
    padding: 2rem;
  }
  .all{
    background-image: url('img/real.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .link{
     display: flex;
     justify-content: center;
     gap: 1rem;
     margin-top: 7rem;
     button{
      background-color: rgb(226, 165, 86);
      color: #fff;
      border-radius: 0.4rem;
      border: 1px solid rgb(226, 165, 86);
         padding: 1.4rem;
      a{
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
      }
     }
      }
    .text p{
      font-size: 2rem;
      text-align: center;
      margin-top: 7rem;
      .link  a{
        text-align: center;
        color: #fff;
      }
    }
  }
  .link button:hover{
  background-color: rgb(230, 54, 54);
  transition: 1s ease-in-out;
  }
  .student_portal{
    padding: 1rem;
    form{
      padding: 1rem;
      input{
        width: 30vw;
        padding: 1rem;
        border: 1px solid rgb(226, 165, 86);
        border-radius: 0.4rem;
      }
      button{
        background-color: rgb(226, 165, 86);
        color: #fff;
        border: 1px solid rgb(226, 165, 86);
        padding: 1.2rem;
        width: 20vw;
        border-radius: 0.4rem;
        transition: 1s ease-in-out rgb(189, 93, 93);
        
      }
    }
  }
}
table,tr,th,td{
    width: 40vw;
    border: 1px solid rgb(226, 165, 86);
    border-collapse: collapse;
    padding: 1rem;
  }
 